# Python
__pycache__/
**/__pycache__/
*.py[cod]

# Virtual environment
.venv/

# IDE
.idea/
.vscode/
.env


# Dataset
data/
*.mp4
*.avi
*.mov
*.png
*.zip

_submissions_archive/
# Models / checkpoints
model/
*.pt
*.pth
test.*
# Outputs
outputs/
runs/
logs/

# OS
.DS_Store
Thumbs.db
train_requirements.txt